:root {
    --rojo: #da291c;
    --negro: #181617;
    --blanco: #fff;
    --titulo: 'Sarabun', sans-serif;
    --texto: 'Roboto', sans-serif;
}

.footer {
    font-size: .9em;
    height: 60px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: var(--rojo);
}


/* ESTILOS PROPIOS*/
.container {
    max-width: unset;
    padding: 0;
    height: 100%;
}

.container-h {
    height: 100%;
}


/* TAMAÑOS HEADER - MAIN - FOOTER*/
/*GLOBALES */

a {
    color: var(--blanco);
}

.navbar-brand:hover {
    color: var(--blanco);
}

.navbar {
    background-color: rgba(0, 0, 0, .9);
}


body {
    font-family: var(--texto);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--titulo);
}


main {
    min-height: 90vh;
}

footer {
    min-height: 5vh;
    background: var(--negro);
}

/* NAVBAR */
.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    padding: 10px 50px;
}

.nav-link.active {
    color: var(--rojo) !important;
}

/* BG IMAGE  HOME INIT */
/* BG IMAGE HOME INIT */
.home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bg-ciclista {
    width: 100%;
    height: 100%;
    position: relative;
}

<<<<<<< HEAD
/*
.bg-ciclista {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/ciclistaBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}
*/

/*
.bg-ciclista::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
=======
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Puedes ajustar el valor alpha para cambiar la opacidad */
>>>>>>> 7bd50838ee0150eb22f1119b692e8aa485c173f2
}
*/

.bg-ciclista video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* NAVBAR STYLES*/
.navbar .nav-link {
    color: var(--blanco);
}

.bg-ciclista {
    width: 100%;
    height: 100%;
}

/* BG IMAGE HOME END */

/* ANIMACIONES HEADER INIT */
.navbar-nav li {
    animation-delay: 0s;
}





/* FOOTER INIT  */



/* FOOTER END  */